/* Обнулим стандартные отступы и поля для браузера */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;

}

/* Сделаем фон более приятным для глаз */
body {
    background-color: #f4f4f4;
}

/* Центрируем контент на странице */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

/* Стили для карточек товаров */
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
}

.card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
}

.card h3 {
    font-size: 18px;
    margin: 10px 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card p {
    margin: 5px 0;
}
.card p:last-child{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Стили для кнопок */
button {
    padding: 10px 15px;
    background-color: #db3434;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #100f0e;
}
